<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h2>Register Page</h2>
    <form action="javascript:void(0)" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
      </div>
      <div>
        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="admin">Admin</option>
            <option value="user">User</option>
        </select>
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>

    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;
        const email = document.querySelector("#email").value;
        const role = document.querySelector("#role").value;
        const response = await fetch("<%=baseURL%>/auth/register", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ username, password, email, role}),
        });
        const data = await response.json();
        console.log(data);
        if (data.success === true) {
          alert("Register user success");
          window.location.href = "<%=baseURL%>/auth/login";
        } else {
          alert("something went wrong");
        }
      });
    </script>
  </body>
</html>
